---
let filas = [
  { letras: 'QWERTYUIOP'.split(''), colores: ['pink', 'pink', 'blue', 'blue', 'blue', 'green', 'green', 'green', 'pink', 'pink'] },
  { letras: 'ASDFGHJKL'.split(''), colores: ['pink', 'pink', 'blue', 'blue', 'blue', 'green', 'green', 'pink', 'pink'] },
  { letras: 'ZXCVBNM'.split(''), colores: ['pink', 'pink', 'blue', 'blue', 'blue', 'green', 'green'] }
];
---

<div class="flex flex-col items-center justify-center min-h-screen">
  <div class="mb-4">
    <div class="bg-pink-200 inline-block px-3 py-1 rounded">Dedo meñique</div>
    <div class="bg-blue-200 inline-block px-3 py-1 rounded">Dedo anular</div>
    <div class="bg-green-200 inline-block px-3 py-1 rounded">Dedo medio e índice</div>
    <div class="bg-yellow-200 inline-block px-3 py-1 rounded">Dedo pulgar</div>
  </div>
  <div id="teclado" class="bg-gradient-to-r from-gray-300 to-gray-500 shadow-lg rounded p-4 inline-block">
    {filas.map((fila, i) => (
      <div class="flex justify-center">
        <div class="flex">
          {i === 0 && <div class="w-12"></div>}
          {fila.letras.map((letra, j) => (
            <div id={`key-${letra}`} class={`letra m-1 px-3 py-2 bg-white rounded-md shadow text-black font-mono text-center bg-${fila.colores[j]}-200`}>
              {letra}
            </div>
          ))}
          {i === 2 && <div class="w-12"></div>}
        </div>
      </div>
    ))}
    <div class="flex justify-center mt-4">
      <div id="key-Space" class="letra m-1 px-20 py-2 rounded-md shadow text-black font-mono text-center bg-yellow-200">
        Espacio
      </div>
    </div>
  </div>
</div>

<script>
window.addEventListener('keydown', (event) => {
  const keyElement = document.getElementById(`key-${event.key.toUpperCase()}`);
  if (keyElement) {
    keyElement.style.transform = 'scale(1.2)';
  }
});

window.addEventListener('keyup', (event) => {
  const keyElement = document.getElementById(`key-${event.key.toUpperCase()}`);
  if (keyElement) {
    keyElement.style.transform = 'scale(1)';
  }
});
</script>
